# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Golang
bin/
pkg/
*.exe
*.test
*.prof
*.db

# Handlebars
*.hbs.cache

# Common
.vscode/
.idea/
*.iml
*.log
.DS_Store
Thumbs.db

.env

.cursorrules
